@font-face {
  font-family: 'FuturaPTMedium';
  src: local('FuturaPTMedium'), url(./fonts/FuturaPTMedium.otf) format('otf');
}
.App {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.4em;
  letter-spacing: 0.192308em;
  text-transform: uppercase;
  margin-top: 3em;
}
